
<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <div>
        <img>
        <br>
        <% if user.image? %>
            <%= image_tag user.image.url(:thumb) if user.image.present? %><br><br>
            
          <% else %>
          
            <%= image_tag("/assets/icon/no-image.png") %><br><br>
          <% end %>
          </div>

        <div class="media-body">
          <div>
            <br>
            <h3><%= link_to user.name, user_path(user) %></h3>
          </div>
          
        </div>
        
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>