<div class="text-center row">
    <div class="card">
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= @user.image %>">
        <h3 class="text-center"><%= @user.name %></h3>
      </div>
        <div class="section1 text-center">
      <button type="button" class="btn btn-outline-dark">follow</button>
      <button type="button" class="btn btn-outline-dark">following</button>
      <button type="button" class="btn btn-outline-dark">follower</button>
  </div>
    </div>

</div>
