<div class="text-image">
  <img src="/assets/topimage.jpg">
    <div class="logo">
      <img src="/assets/logo.png">
    </div>
    <div class="text text-center">
      <h2>おいしい！を写真で共有</h2>
        <!--h3>お家で作った料理をレシピとともに</h3>
        <h3>お店で食べた料理をお店とともに</h3>
        <h3>写真で共有、評価できるサイトです。</h3-->
      <div class="button">
        <%= link_to 'はじめる？', signup_path, class: 'btn btn-dark' %>
        <p>or</p>
        <%= link_to 'ログイン', signup_path, class: 'btn btn-dark' %>
      </div>
    </div>
    
</div>