<% if logged_in? %>
<%= render 'posts/posts', posts: @posts %>

<% else %>

<div class="text-image">
  <img src="/assets/topimage.jpg">
    <div class="logo">
      <img src="/assets/logo.png">
    </div>
    <div class="text">
      <h3>おいしかった！を記録しよう！</h3>
        <p>お家で作ったレシピやおいしかったお店を<br>
        写真とともに記録できるサイトです。</p>
      <div class='button btn-toolbar btn-sm' role="toolbar">
            <div>
                <%= link_to 'はじめる？', signup_path, class: 'btn btn-dark btn-sm' %>
                or
                <%= link_to 'ログイン', login_path, class: 'btn btn-dark btn-sm' %>
            </div>
        </div>
      </div>
    </div>
   

<%= render 'posts/posts', posts: @posts %>
<% end %>

